:root {
    --content-color-primary: #151414;
    --content-color-secondary: #282727;
    --content-color-tertiary: #444343;

    --background-color-primary: #f7f9fa;
    --background-color-secondary: #eaeff3;
    --background-color-tertiary: #bbcdd3;

    --accent-color-primary: #4b72a6;
    --accent-color-dark: #375685;
    --accent-color-light: #6890c5;

    --danger: #d55151;
    --warning: #c9b14d;

    --content-font: "Fira Sans", sans-serif;
}

body {
    color: var(--content-color-primary);
    background-color: var(--background-color-primary);
    font-family: var(--content-font);
    font-style: normal;
    padding: 1.5rem 15%;
    transition: padding 0.3s ease;
}

@media (max-width: 1200px) {
    body {
        padding: 1.5rem 10%;
    }
}

@media (max-width: 800px) {
    body {
        padding: 1.5rem 1rem;
    }
}


h1, h2, h3, h4, h5, h6 {
    color: var(--content-color-secondary);
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.2rem;
}

p, a, li, span {
    color: var(--content-color-tertiary);
    font-weight: 300;
}

.bg-primary {
    background-color: var(--background-color-primary) !important;
}

.bg-secondary {
    background-color: var(--background-color-secondary) !important;
}

.bg-tertiary {
    background-color: var(--background-color-tertiary) !important;
}

.text-accent-primary {
    color: var(--accent-color-primary) !important;
}

.text-accent-dark {
    color: var(--accent-color-dark) !important;
}

.text-accent-light {
    color: var(--accent-color-light) !important;
}

.bg-accent-primary {
    background-color: var(--accent-color-primary) !important;
}

.bg-accent-dark {
    background-color: var(--accent-color-dark) !important;
}

.bg-accent-light {
    background-color: var(--accent-color-light) !important;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
    background-color: var(--background-color-secondary);
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mw-40 {
    max-width: 40%;
}

.card {
    border-radius: 1rem;
    background-color: var(--background-color-primary);
    box-sizing: border-box;
}

.content-block {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
    background-color: var(--background-color-primary);
}

.btn-primary {
    width: 100%;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chart {
    max-height: 250px;
}

.chart-horizontal {
    max-width: 70% !important;
    height: 120px !important;
}

#sidebar {
    height: 100%;
    width: 30%;
    min-width: 180px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.25rem;
}

.flex-row {
    gap: 1rem;
    box-sizing: border-box;
}

.flex-column {
    gap: 1rem
}

.settings-section {
    padding: 1.5rem;
    background-color: var(--background-color-secondary);
    border-radius: 1rem;
}

.settings-range {
    max-width: 500px;
}

.btn-sec {
    background-color: var(--background-color-secondary);
    border: 0;
    color: var(--content-color-primary);
    font-size: 1.1rem;
}

.btn-sec:hover {
    background-color: var(--accent-color-light);
}

.toggle-arrow {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: solid var(--content-color-tertiary);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transition: transform 0.2s;
}

.toggle-arrow.right {
    transform: rotate(-45deg);
}

.toggle-arrow.down {
    transform: rotate(45deg);
}

.toggle-section {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-arrow {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: solid var(--content-color-tertiary);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transition: transform 0.2s;
}

.toggle-arrow.right {
    transform: rotate(-45deg);
}

.toggle-arrow.down {
    transform: rotate(45deg);
}

.section-header {
    background-color: var(--background-color-secondary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.section-content {
    display: none;
    padding: 0.1rem;
    margin-top: 0.5rem;
    border-top: 0;
    border-bottom: 0;
    margin-left: 1rem;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--background-color-secondary);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    color: var(--content-color-primary);
}

.task-item .task-time {
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

.task-item .task-summary {
    flex: 1;
    margin: 0 1rem;
}

.task-item a {
    color: var(--accent-color-primary);
    text-decoration: none;
}

.task-item a:hover {
    text-decoration: underline;
}

.task-item .task-time {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.task-item .btn-link {
    color: var(--accent-color-primary);
}

.word-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    background-color: var(--background-color-secondary);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    color: var(--content-color-primary);
}

.word-item a {
    color: var(--accent-color-primary);
    text-decoration: none;
}

.word-item a:hover {
    text-decoration: underline;
}

.text-left {
    text-align: left;
}

.worker-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type=range].warning-slider::-webkit-slider-thumb {
    background: var(--warning);
}

input[type=range].warning-slider::-moz-range-thumb {
    background: var(--warning);
}

input[type=range].critical-slider::-webkit-slider-thumb {
    background: var(--danger);
}

input[type=range].critical-slider::-moz-range-thumb {
    background: var(--danger);
}

.project-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.project-stats li {
    display: flex;
    gap: 5px;
    align-items: center;
}

.project-recommendations {
    width: 100%;
}

.project-recommendations li {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    white-space: nowrap;
}

.project-recommendations li span {
    display: flex;
    gap: 5px;
    align-items: center;
}

.statistic-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--background-color-secondary);
    border-radius: 0.5rem;
    padding: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}