.recommendation {
    background-color: var(--background-color-secondary);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.recommendation.critical {
    border: solid rgba(217, 83, 79, 0.37);
}

.recommendation.warning {
    border: solid rgba(217, 173, 79, 0.37);
}

.recommendation .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.recommendation .header i {
    font-size: 1rem;
    margin-right: 10px;
}

.recommendation .header-yellow {
    color: #f0ad4e;
}

.recommendation .header-red {
    color: #d9534f;
}

.recommendation .header h5 {
    margin: 0;
}

.recommendation .content {
    font-size: 1.1rem;
    line-height: 1.5;
}

.recommendation .content ul {
    padding-left: 20px;
}

.recommendation .content ul li {
    margin-bottom: 0.8rem;
}

.worker-list-item {
    font-size: 0.8rem;
    display: flex;
    gap: 5px;
}

.warning-item {
    color: #f0ad4e;
    width: 0.8rem;
}

.critical-item {
    color: #d9534f;
    width: 0.8rem;
}

.normal-item {
    color: #689d52;
    width: 0.8rem;
}