<div id="sidebar">
    <div class="card p-3">
        <a href="{{ url_for('get_project_info', project_id=project.id) }}">
            <h2 class="p-1">{{ project.name }}</h2>
        </a>
    </div>

    <div class="card p-3">

        <h2 class="p-1">Чаты</h2>
        <div class="flex-column mt-2">
            {% for key, value in organization.project_chats.items() %}
            <div class="d-flex justify-content-between align-items-center mb-2">
                <span>{{ value }}</span>
                <form action="{{ url_for('remove_chat_from_project', project_id=project.id, chat_id=key) }}"
                      method="post">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </div>
            {% endfor %}
            <form action="{{ url_for('add_chat_to_project', project_id=project.id) }}" method="post">
                <div class="input-group">
                    <select name="chat_id" class="form-control">
                        {% for chat_id, chat_name in organization.available_chats.items() %}
                        <option value="{{ chat_id }}">{{ chat_name }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card p-3">
        <h2 class="p-1">Работники</h2>
        <div class="flex-column mt-2">
            {% for worker in organization.workers %}
            <a href="{{ url_for('get_project_worker_info', project_id=project.id, worker_id=worker.passportUid) }}"
               class="btn btn-primary mb-2 btn-sec text-left d-flex justify-content-between align-items-center"
               data-worker-id="{{ worker.passportUid }}">
                <span>{{ worker.display }}</span>
                <span class="worker-list-item">
                    {% set worker_id = worker.passportUid | string %}
                    {% set recommendations = organization.recommendations[worker_id] %}
                    {% set warnings = recommendations | startswith('warning_') %}
                    {% set criticals = recommendations | startswith('critical_') %}
                    {% if warnings | length > 0 %}
                    <span><i class="fas fa-exclamation-triangle warning-item"></i> {{ warnings | length }}</span>
                    {% endif %}
                    {% if criticals | length > 0 %}
                    <span><i class="fas fa-exclamation-circle critical-item"></i> {{ criticals | length }}</span>
                    {% endif %}
                </span>
            </a>
            {% else %}
            <p class="list-group-item">Работники не найдены</p>
            {% endfor %}
        </div>
    </div>
</div>
