<div id="sidebar">
    <div class="card p-3">
        <h2 class="p-1">Работники</h2>
        <div class="flex-column mt-2">
            {% for worker in organization.workers %}
            <a href="{{ url_for('get_worker_info', worker_id=worker.passportUid) }}"
               class="btn btn-primary mb-2 btn-sec text-left d-flex justify-content-between align-items-center"
               data-worker-id="{{ worker.passportUid }}">
                <span>{{ worker.display }}</span>
                <span class="worker-list-item">
                    {% set worker_id = worker.passportUid | string %}
                    {% set recommendations = organization.recommendations[worker_id] %}
                    {% set warnings = recommendations | startswith('warning_') %}
                    {% set criticals = recommendations | startswith('critical_') %}
                    {% if warnings | length > 0 %}
                    <span><i class="fas fa-exclamation-triangle warning-item"></i> {{ warnings | length }}</span>

                    {% endif %}
                    {% if criticals | length > 0 %}
                    <span><i class="fas fa-exclamation-circle critical-item"></i> {{ criticals | length }}</span>
                    {% endif %}
                </span>
            </a>
            {% else %}
            <p class="list-group-item">Работники не найдены</p>
            {% endfor %}
        </div>
    </div>
</div>
