<div class="card">
    <div class="card-body">
        <h2>Общая аналитика</h2>
        {% if organization.statistics.average_communication_data %}
        <div class="d-flex statistic-container">
            <div class="me-3">
                <strong>Среднее время ответа:</strong>
                <div id="averageResponseTime"></div>
            </div>
            <canvas id="responseTimeChart" class="chart-horizontal"></canvas>
        </div>
        <div class="d-flex statistic-container">
            <div class="me-3">
                <strong>Средний процент негативного общения:</strong>
                <div id="averageNegativeFeedback"></div>
            </div>
            <canvas id="negativeFeedbackChart" class="chart-horizontal"></canvas>
        </div>
        {% endif %}
        {% if organization.statistics.average_communication_data %}
        <div class="d-flex statistic-container">
            <div class="justify-between h-100">
                <div class="me-3">
                    <strong>Доля просроченных задач:</strong>
                    <div id="averageOverdueRatio"></div>
                </div>
                <div class="me-3">
                    <strong>Среднее время просрочки:</strong>
                    <div id="averageOverdueTime"></div>
                </div>
            </div>
            <canvas id="overdueTasksChart" class="chart-horizontal"></canvas>
        </div>
        <div class="d-flex statistic-container">
            <div class="me-3">
                <strong>Среднее количество багов:</strong>
                <div id="averageBugsPerTask"></div>
            </div>
            <canvas id="bugsPerTaskChart" class="chart-horizontal"></canvas>
        </div>
        {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Работник</th>
                <th scope="col">Задачи в срок</th>
                <th scope="col">Оперативность ответа</th>
                <th scope="col">Позитивное общение</th>
                <th scope="col">Отсутствие багов</th>
            </tr>
            </thead>
            <tbody>
            {% for worker in organization.workers %}
            <tr>
                <td>{{ worker.display }}</td>
                <td>
                    {% set worker_id = worker.passportUid | string %}
                    {% set recommendations = organization.recommendations[worker_id] %}
                    {% set on_time_critical = recommendations | startswith('critical_overdue_tasks') %}
                    {% set on_time_warning = recommendations | startswith('warning_overdue_tasks') %}
                    {% if on_time_critical | length > 0 %}
                    <i class="fas fa-exclamation-circle text-danger"></i> {{ on_time_critical | length }}
                    {% elif on_time_warning | length > 0 %}
                    <i class="fas fa-exclamation-triangle text-warning"></i> {{ on_time_warning | length }}
                    {% else %}
                    <i class="fas fa-check-circle text-success"></i>
                    {% endif %}
                </td>
                <td>
                    {% set response_time_critical = recommendations | startswith('critical_response_time') %}
                    {% set response_time_warning = recommendations | startswith('warning_response_time') %}
                    {% if response_time_critical | length > 0 %}
                    <i class="fas fa-exclamation-circle text-danger"></i> {{ response_time_critical | length }}
                    {% elif response_time_warning | length > 0 %}
                    <i class="fas fa-exclamation-triangle text-warning"></i> {{ response_time_warning | length }}
                    {% else %}
                    <i class="fas fa-check-circle text-success"></i>
                    {% endif %}
                </td>
                <td>
                    {% set communication_critical = recommendations | startswith('critical_negative_feedback') %}
                    {% set communication_warning = recommendations | startswith('warning_negative_feedback') %}
                    {% if communication_critical | length > 0 %}
                    <i class="fas fa-exclamation-circle text-danger"></i> {{ communication_critical | length }}
                    {% elif communication_warning | length > 0 %}
                    <i class="fas fa-exclamation-triangle text-warning"></i> {{ communication_warning | length }}
                    {% else %}
                    <i class="fas fa-check-circle text-success"></i>
                    {% endif %}
                </td>
                <td>
                    {% set bugs_critical = recommendations | startswith('critical_bugs_per_task') %}
                    {% set bugs_warning = recommendations | startswith('warning_bugs_per_task') %}
                    {% if bugs_critical | length > 0 %}
                    <i class="fas fa-exclamation-circle text-danger"></i> {{ bugs_critical | length }}
                    {% elif bugs_warning | length > 0 %}
                    <i class="fas fa-exclamation-triangle text-warning"></i> {{ bugs_warning | length }}
                    {% else %}
                    <i class="fas fa-check-circle text-success"></i>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Рекомендации не найдены</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="detailedStatistics" value='{{ organization.statistics | tojson | safe }}'/>
<script src="{{ url_for('static', filename='javascript/statistics.js') }}"></script>
