<div class="worker-info-section">
    <div class="card p-4 worker-header">
        <h3>{{ organization.selected_worker.display }}</h3>
        <span>{{ organization.selected_worker.email }}</span>
    </div>
</div>
<div class="worker-chat-activity-section">
    <div class="card p-4">
        <div id="chatActivityContent" class="row">
            <div class="col-md-6">
                <h4>Активность в чатах</h4>
                <form action="{{ url_for('update_telegram_username', worker_id=organization.selected_worker.passportUid) }}"
                      method="POST">
                    <div class="form-group">
                        <label for="telegramUsername">Telegram Username:</label>
                        <div class="col-md-8 p-0">
                            <select class="form-control" id="telegramUsername" name="telegramUsername"
                                    onchange="this.form.submit()">
                                <option value="">Select a username</option>
                                {% for username in organization.telegram_usernames %}
                                <option value="{{ username }}"
                                        {% if username== organization.selected_worker_telegram_username %}
                                        selected
                                        {% endif %}
                                >
                                    {{ username }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                <p id="messageCount"></p>
                <p id="averageResponseTime"></p>
            </div>
            <div class="col-md-6">
                <canvas id="sentimentChart" class="chart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="worker-tracker-activity-section">
    <div class="card p-4" id="trackerActivityContent">
        <div class="row">
            <div class="col-md-6">
                <h4>Активность в трекере</h4>
                <p id="averageDelay"></p>
                <p id="averageBugs"></p>
            </div>
            <div class="col-md-6">
                <canvas id="overdueChart" class="chart"></canvas>
            </div>
        </div>
        <div id="overdueTasksSection" class="section-header mt-3" style="display: none;"
             onclick="toggleSection('overdueTasksList', this)">
            <h5 class="mb-0">Просроченные задачи</h5><span class="toggle-arrow right"></span>
        </div>
        <div id="overdueTasksList" class="section-content mt-1"></div>
        <div id="frequentWordsSection" class="section-header mt-3" style="display: none;"
             onclick="toggleSection('frequentWordsList', this)">
            <h5 class="mb-0">Частые баги</h5><span class="toggle-arrow right"></span>
        </div>
        <div id="frequentWordsList" class="section-content mt-1"></div>
    </div>
</div>
{% if organization.worker_recommendations %}
<div class="worker-recommendations-section">
    <div class="card p-4">
        <h4>Рекомендации</h4>
        {% for recommendation in organization.worker_recommendations %}
        {% include 'recommendations/' ~ recommendation ~ '.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}

<input type="hidden" id="communicationData" value='{{ organization.communication_data | tojson | safe }}'>
<input type="hidden" id="performanceData" value='{{ organization.tracker_data.performance | tojson | safe }}'>
<input type="hidden" id="bugReportData" value='{{ organization.tracker_data.bug_report | tojson | safe }}'>
<input type="hidden" id="settingsData" value='{{ organization.settings | tojson | safe }}'>

<script src="{{ url_for('static', filename='javascript/communication.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/tracker.js') }}"></script>