{% extends "base.html" %}

{% block title %}
{{ organization.name }} - Проекты
{% endblock %}
{% block header %}
{{ organization.name }}
{% endblock %}

{% block content %}
<div class="row">
    {% for project in organization.projects %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-description">{{ project.description }}</p>
                <ul class="list-unstyled project-recommendations">
                    {% set recommendation_summary = project.recommendation_summary %}

                    {% if project.has_recommendations %}
                    {% for key, value in recommendation_summary.items() %}
                    {% if value.warning > 0 or value.critical > 0 %}
                    <li>
                        <span>
                        {% if value.warning > 0 %}
                            <span>
                        <i class="fas fa-exclamation-triangle text-warning"></i> {{ value.warning }}
                            </span>
                        {% endif %}
                        {% if value.critical > 0 %}
                            <span>
                        <i class="fas fa-exclamation-circle text-danger"></i> {{ value.critical }}
                            </span>
                        {% endif %}
                        </span>
                        {{ value.label }}
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <li>
                        <span>
                        <i class="fas fa-check-circle text-success"></i> Нет рекомендаций
                        </span>
                    </li>
                    {% endif %}

                </ul>
                <ul class="list-unstyled project-stats">
                    <li> {{ project.status }}</li>
                    <li>
                        <i class="fas fa-tasks"></i> {{ project.issues_count }}
                    </li>
                    <li>
                        <i class="fas fa-users"></i> {{ project.workers_count }}
                    </li>
                    <li>
                        <i class="fas fa-comments"></i> {{ project.chats_count }}
                    </li>
                    <li>
                        <a href="{{ url_for('get_project_info', project_id=project.id) }}"
                           class="btn btn-block bg-accent-primary text-white">Подробнее</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
