{% extends "base.html" %}
{% set project = organization.project %}
{% block title %}
{{ organization.name }} - {{ project.name }}
{% endblock %}
{% block header %}
{{ organization.name }}
{% endblock %}

{% block content %}
<div class="d-flex flex-row">
    {% include '_project_sidebar.html' %}
    <div id="main-content" class="main-container">
        {% if organization.selected_worker %}
        {% include '_worker_info.html' %}
        {% else %}
        {% include '_total_stats.html' %}
        {% endif %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
{% endblock %}
