{% extends "base.html" %}

{% block title %}
{{ organization.name }} - Настройки
{% endblock %}
{% block header %}
{{ organization.name }}
{% endblock %}

{% block content %}
<div id="main-content" class="main-container">
    <div class="card p-4">
        <h4>Настройки</h4>
        <form id="settingsForm" class="d-flex flex-column" method="POST" action="{{ url_for('update_settings') }}">
            {% set settings_sections = [
            ('Активность в чате', [
            ('response_time', 'Время ответа (секунды)', 1, 43200, 1, True),
            ('negative_feedback_ratio', 'Доля негативных сообщений', 0.01, 1, 0.01, True)
            ]),
            ('Задачи в трекере', [
            ('overdue_task_ratio', 'Доля просроченных задач', 0.01, 1, 0.01, True),
            ('overdue_time', 'Время просрочки (часы)', 0.1, 10, 0.1, True)
            ]),
            ('Аналитика ошибок', [
            ('average_bugs_per_task', 'Среднее число багов по задаче', 0.1, 20, 0.1, True),
            ('min_occurrences_for_word_count', 'Минимум встречаемости бага', 1, 30, 1, True),
            ('max_frequent_words_displayed', 'Количество выводимых частых багов', 1, 50, 1, False)
            ])
            ] %}


            {% for section, settings in settings_sections %}
            <div class="settings-section">
                <h5>{{ section }}</h5>
                {% for setting, label, min, max, step, has_warning_critical in settings %}
                <div class="form-group">
                    <label class="mb-2">{{ label }}:</label>
                    <div class="d-flex align-items-center">
                        {% if not has_warning_critical %}
                        <input type="number" class="form-control" style="width: 100px; margin-right: 10px;"
                               id="{{ setting }}_number" name="{{ setting }}_number"
                               value="{{ organization.settings.thresholds[setting] }}"
                               min="{{ min }}" max="{{ max }}" step="{{ step }}">
                        <span class="mx-2">{{ min }}</span>
                        <input type="range" id="{{ setting }}" name="{{ setting }}" min="{{ min }}" max="{{ max }}"
                               step="{{ step }}" value="{{ organization.settings.thresholds[setting] }}"
                               class="custom-range mx-2 settings-range">
                        <span class="mx-2">{{ max }}</span>
                        {% else %}
                        <input type="number" class="form-control" style="width: 100px; margin-right: 10px;"
                               id="{{ setting }}_warning_number" name="{{ setting }}_warning"
                               value="{{ organization.settings.thresholds[setting + '_warning'] }}"
                               min="{{ min }}" max="{{ max }}" step="{{ step }}">
                        <input type="number" class="form-control" style="width: 100px; margin-right: 10px;"
                               id="{{ setting }}_critical_number" name="{{ setting }}_critical"
                               value="{{ organization.settings.thresholds[setting + '_critical'] }}"
                               min="{{ min }}" max="{{ max }}" step="{{ step }}">
                        <span class="mx-2">{{ min }}</span>
                        <input type="range" id="{{ setting }}_warning" name="{{ setting }}_warning" min="{{ min }}"
                               max="{{ max }}"
                               step="{{ step }}" value="{{ organization.settings.thresholds[setting + '_warning'] }}"
                               class="custom-range mx-2 settings-range warning-slider">
                        <input type="range" id="{{ setting }}_critical" name="{{ setting }}_critical" min="{{ min }}"
                               max="{{ max }}"
                               step="{{ step }}" value="{{ organization.settings.thresholds[setting + '_critical'] }}"
                               class="custom-range mx-2 settings-range critical-slider">
                        <span class="mx-2">{{ max }}</span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}


            <div class="d-flex justify-content-between w-100">
                <div>
                    <button type="submit" class="btn bg-accent-primary text-white" style="width: auto;">Сохранить
                        настройки
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="resetForm()" style="width: auto;">Отменить
                        изменения
                    </button>
                </div>
                <button type="button" class="btn btn-link" onclick="setDefault()" style="width: auto;">Восстановить по
                    умолчанию
                </button>
            </div>
        </form>
        <form method="POST" action="{{ url_for('logout') }}" class="mt-3">
            <button type="submit" class="btn btn-danger">Выйти из аккаунта</button>
        </form>
    </div>
</div>
<input type="hidden" id="settingsData" value='{{ organization.settings | tojson | safe }}'>
<input type="hidden" id="defaultSettingsData" value='{{ organization.default_settings | tojson | safe }}'>
<script src="{{ url_for('static', filename='javascript/settings.js') }}"></script>
{% endblock %}
