<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Open Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="height: 100%">
<div class="center">
    <div class="card p-4 mw-40">
        <h2>Войдите в организацию</h2>
        <form action="/sign_in" method="get" class="mt-4">
            <div class="form-group">
                <label for="oauth_token">OAuth Token:</label>
                <input type="text" class="form-control" id="oauth_token" required name="oauth_token">
            </div>
            <button type="submit" class="btn btn-block bg-accent-primary text-white">Войти</button>
            <span>Или <a href="/sign_up" class="text-accent-light">создайте новую организацию</a></span>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
