{% extends "base.html" %}

{% block title %}
{% if organization.selected_worker %}
{{ organization.name }} - {{ organization.selected_worker.display }}
{% else %}
{{ organization.name }} - Работники
{% endif %}

{% endblock %}
{% block header %}
{{ organization.name }}
{% endblock %}

{% block content %}
<div class="d-flex flex-row">
    {% include '_sidebar.html' %}
    <div id="main-content" class="main-container">
        {% if organization.selected_worker %}
        {% include '_worker_info.html' %}
        {% else %}
        {% include '_total_stats.html' %}
        {% endif %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
{% endblock %}
