<div class="recommendation critical">
    <div class="header header-red">
        <i class="fas fa-exclamation-circle"></i>
        <h5>Стиль общения</h5>
    </div>
    <div class="content content-red">
        <p>Обнаружены критические проблемы с негативным общением в чате, что может серьезно нарушить работу команды и
            атмосферу сотрудничества. Для улучшения ситуации, рекомендуем:</p>
        <ul>
            <li><h6>Пройти тренинги по коммуникации:</h6> Посетите специальные тренинги и обучающие сессии по улучшению
                навыков коммуникации и решению конфликтов. Обучение может помочь повысить осведомленность о позитивном
                общении и улучшить навыки в этой области.
            </li>
            <li><h6>One-to-one:</h6> Если у вас накопились какие-то недосказанности и претензии, возможно стоит устроить
                встречу one-to-one с руководителем/тимлидом/HR и совместно обсудить моменты, которые выводят на негатив.
            </li>
            <li><h6>Провести аудит и обзор общения в чате:</h6> Проведите анализ текущего состояния общения в чате и
                выявите основные проблемные моменты. На основе результатов аудита разработайте конкретные планы действий
                для улучшения ситуации и предотвращения подобных случаев в будущем.
            </li>
            <li><h6>Установить нулевую толерантность к негативному общению:</h6> Рекомендация скорее к руководству,
                введите строгие правила и санкции для случаев негативного общения в чате. Подчеркните важность
                уважительного отношения друг к другу и нулевую толерантность к оскорблениям и агрессивным высказываниям.
            </li>
        </ul>
    </div>
</div>