<div class="recommendation critical">
    <div class="header header-red">
        <i class="fas fa-exclamation-circle"></i>
        <h5>Просроченные задачи</h5>
    </div>
    <div class="content content-red">
        <p>Выявлены критические проблемы с просроченными задачами и увеличением среднего времени их завершения. Для
            восстановления графика работы и снижения влияния просрочек, рекомендуем:</p>
        <ul>
            <li><h6>Не «распыляться»:</h6> Из-за частого переключения между проектами или задачами может
                теряться концентрация, приходится дольше вникать в контекст работы, держать в голове сразу много мыслей
                — всё это увеличивает время работы. Постарайтесь выстроить такое планирование, чтобы не приходилось
                часто перескакивать с проекта на проект, переключаться между задачами.
            </li>
            <li><h6>Расставить приоритеты:</h6> Определите какие задачи важнее выполнить в первую очередь.
                Лучше всего составить список задач в порядке их выполнения. Это поможет не отвлекаться на переключение
                между задачами и позволит более эффективно организовать свою работу.
            </li>
            <li><h6>Не забывать про коммуникацию с командой:</h6> В командных проектах очень важно
                поддерживать прозрачность процесса работы. Необходимо своевременно обновлять статусы задач,
                предупреждать о возможных задержках заранее. Если изначально вы видите, что на задачу не хватит
                заложенного времени — предупредите PM.
            </li>
            <li><h6>Перераспределение:</h6> Оцените текущий график работы и сфокусируйтесь на выполнении
                критически важных задач. При необходимости передайте некоторые задачи коллегам и уделите основное
                внимание оставшимся задачам.
            </li>
            <li><h6>Дополнительная поддержка и координация:</h6> Обратитесь за помощью к коллегам или
                руководству. Обсудите возможные способы оптимизации работы, обсудите свой опыт с более опытными
                коллегами, возможно, они подскажут, как можно улучшить продуктивность.
            </li>
            <li><h6>Сохранение и использование шаблонов:</h6> Вероятно, в процессе работы над проектами вы
                сталкивались с повторяющимися элементами. Рекомендуется выделить такие элементы в отдельные шаблоны,
                которые впоследствии можно будет применять многократно. Использование шаблонов позволит сократить время,
                затрачиваемое на разработку.
            </li>
            <li><h6>Анализ причин и корректировка стратегии:</h6> Проведите глубокий анализ причин
                возникновения просрочек и определите необходимые коррективы в стратегии работы. Внесите соответствующие
                изменения для предотвращения подобных ситуаций в будущем.
            </li>
            <li><h6>Усиление коммуникации и обратной связи:</h6> Установите более частую и эффективную
                коммуникацию в команде. Организуйте регулярные встречи для обсуждения проблем и поиска совместных
                решений. Поддерживайте открытость и честность в обмене информацией.
            </li>
            <li><h6>Разработка резервного плана:</h6> Создайте стратегию для быстрого реагирования на
                критические ситуации и неожиданные задержки. Разработайте резервный план действий, который будет
                включать в себя конкретные шаги для быстрого восстановления рабочего процесса и достижения поставленных
                целей.
            </li>
        </ul>
    </div>
</div>
