<div class="recommendation critical">
    <div class="header header-red">
        <i class="fas fa-exclamation-circle"></i>
        <h5>Оперативность ответа</h5>
    </div>
    <div class="content content-red">
        <p>Обнаружены критические проблемы с оперативностью ответов в чате, что может серьезно затруднять работу
            команды. Для улучшения ситуации, рекомендуем:</p>
        <ul>
            <li><h6>Установить оповещения:</h6> Включить уведомления в рабочих чатах, настроить показ уведомлений на
                мобильном устройстве, мониторе компьютера и других девайсах (например, на умных часах).
            </li>
            <li><h6>Оповещать о своей занятости команду:</h6> В случае отсутствия на рабочем месте в связи с больничным
                или отгулом стоит уведомлять команду заранее, чтобы вас не беспокоили в это время. Если вы заняты на
                другом проекте сейчас, и у вас нет времени ответить, сообщите об этом коллеге в чате.
            </li>
            <li><h6>Установить четкий график проверки чата:</h6> Определите оптимальное время для проверки и
                отслеживания сообщений в чате. Старайтесь регулярно проверять и отвечать на сообщения в течение рабочего
                дня.
            </li>
            <li><h6>Установить строгие сроки ответа:</h6> Введите строгие сроки ответа на сообщения в чате и
                придерживайтесь их. Это поможет поддерживать высокий уровень оперативности и эффективности коммуникации.
            </li>
        </ul>
    </div>
</div>