<div class="recommendation warning">
    <div class="header header-yellow">
        <i class="fas fa-exclamation-triangle"></i>
        <h5>Баги</h5>
    </div>
    <div class="content content-yellow">
        <p>Обнаружены тенденции к частым ошибкам при выполнении задач, что может негативно сказываться на качестве
            продукта и эффективности работы. Для снижения количества ошибок рекомендуем:</p>
        <ul>
            <li><h6>Внимательно читайте требования к задачам:</h6> Перед началом работы уделяйте достаточно времени на
                внимательное ознакомление с требованиями к задаче. Понимание всех деталей и особенностей поможет
                избежать ошибок в процессе выполнения.
            </li>
            <li><h6>Тестируйте свой код и изменения:</h6> После завершения работы над задачей проведите тщательное
                тестирование своего кода или внесенных изменений. Это позволит выявить и исправить ошибки до того, как
                они окажутся в продукте.
            </li>
            <li><h6>Обращайтесь за помощью и консультациями:</h6> Если у вас возникают сомнения или вопросы по поводу
                выполнения задачи, не стесняйтесь обращаться с вопросами к аналитикам или за помощью к более опытным
                коллегам или руководителям, они могут поделиться своим опытом и предложить решения.
            </li>
        </ul>
    </div>
</div>