<div class="recommendation warning">
    <div class="header header-yellow">
        <i class="fas fa-exclamation-triangle"></i>
        <h5>Стиль общения</h5>
    </div>
    <div class="content content-yellow">
        <p>Обнаружены тенденции негативного общения в чате, что может отрицательно повлиять на атмосферу в команде. Для
            улучшения стиля общения и снижения доли негативных ответов в чате, рекомендуем:</p>
        <ul>
            <li><h6>Используйте позитивный стиль:</h6> Старайтесь выражать свои мысли и комментарии в более дружелюбной
                форме. Избегайте использования агрессивных выражений, даже если вы не согласны с чьим-то мнением.
            </li>
            <li><h6>Следуйте принципам профессионализма:</h6> Очень важно поддерживать высокий уровень профессионализма
                в общении. Старайтесь не участвовать в конфликтах и не обсуждать личные вопросы, концентрируясь на
                рабочих аспектах.
            </li>
            <li><h6>Представьте, что вы на месте своего собеседника:</h6> Общайтесь с коллегами так, как хотели бы,
                чтобы общались с вами. Проявляйте взаимоуважение в разговоре, прислушивайтесь к мнению других и
                обосновывайте свои ответы.
            </li>
        </ul>
    </div>
</div>