<div class="recommendation warning">
    <div class="header header-yellow">
        <i class="fas fa-exclamation-triangle"></i>
        <h5>Оперативность ответа</h5>
    </div>
    <div class="content content-yellow">
        <p>Обнаружены тенденции к снижению оперативности ответов в чате, что может отрицательно сказываться на
            коммуникации в команде. Для улучшения оперативности ответа в чате, рекомендуем:</p>
        <ul>
            <li><h6>Установить оповещения:</h6> Включить уведомления в рабочих чатах, настроить показ уведомлений на
                мобильном устройстве, мониторе компьютера и других девайсах (например, на умных часах).
            </li>
            <li><h6>Оповещать о своей занятости команду:</h6> В случае отсутствия на рабочем месте в связи с больничным
                или отгулом стоит уведомлять команду заранее, чтобы вас не беспокоили в это время. Если вы заняты на
                другом проекте сейчас, и у вас нет времени ответить, сообщите об этом коллеге в чате.
            </li>
        </ul>
    </div>
</div>