<div class="recommendation warning">
    <div class="header header-yellow">
        <i class="fas fa-exclamation-triangle"></i>
        <h5>Просроченные задачи</h5>
    </div>
    <div class="content content-yellow">
        <p>Обнаружены некоторые тенденции, связанные с просроченными задачами и увеличением среднего времени их
            выполнения. Чтобы уменьшить количество просроченных задач и повысить производительность, мы рекомендуем:</p>
        <ul>
            <li><h6>Не «распыляйтесь»:</h6> Из-за частого переключения между проектами или задачами может теряться
                концентрация, приходится дольше вникать в контекст работы, держать в голове сразу много мыслей — всё это
                увеличивает время работы. Постарайтесь выстроить такое планирование, чтобы не приходилось часто
                перескакивать с проекта на проект, переключаться между задачами.
            </li>
            <li><h6>Расставьте приоритеты:</h6> Определите какие задачи важнее выполнить в первую очередь. Лучше всего
                составить список задач в порядке их выполнения. Это поможет не отвлекаться на переключение между
                задачами и позволит более эффективно организовать свою работу.
            </li>
            <li><h6>Не забывайте про коммуникацию с командой:</h6> В командных проектах очень важно поддерживать
                прозрачность процесса работы. Необходимо своевременно обновлять статусы задач, предупреждать о возможных
                задержках заранее. Если изначально вы видите, что на задачу не хватит заложенного времени — предупредите
                PM.
            </li>
        </ul>
    </div>
</div>
